@font-face {
  font-family: GothamPro;
  src: url("assets/fonts/GothamPro.ttf") format("truetype");
}
@font-face {
  font-family: GothamPro-Medium;
  src: url("assets/fonts/GothamPro-Medium.ttf") format("truetype");
}
@font-face {
  font-family: Roboto-Regular;
  src: url("assets/fonts/Roboto-Regular.ttf") format("truetype");
}
.quiz__wrap, .hero__wrap, .header__wrap {
  max-width: 1195px;
  height: 100%;
  margin: auto;
  padding: 0 25px;
  position: relative;
}

.quiz-feedback, .hero-dialog, .icon-circle {
  display: grid;
  place-items: center;
}

.quiz-body__questions, .quiz__wrap, .header-content__text {
  display: flex;
  align-items: center;
}

.quiz-body__steps ul, .hero__wrap, .header__wrap, .elements-between {
  display: flex;
  justify-content: space-between;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

textarea {
  resize: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

::placeholder {
  color: #000000;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #000000;
}

::-ms-input-placeholder {
  color: #000000;
}

body {
  font-family: GothamPro, sans-serif;
  font-size: 14px;
}

.element-right {
  align-self: end;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.text-bottom {
  color: #009fe3;
  text-decoration-line: underline;
  cursor: pointer;
}

.check {
  padding-left: 1.2em;
  cursor: pointer;
}
.check__primary {
  position: absolute;
  width: 1em;
  height: 1em;
  margin-left: -1.2em;
  background-color: #ffffff;
}
.check__box {
  box-shadow: 0 0 0 0.1em #d5d5d5;
  border-radius: 0.05em;
}
.check__radio {
  border: 1px solid #d5d5d5;
  border-radius: 50%;
  width: 24px;
  height: 24px;
}
.check__input:checked + .check__radio {
  border: 10px solid #009fe3;
}

.input-primary {
  height: 60px;
  border: 1px solid #d5d5d5;
  border-radius: 6px;
  padding: 0 21px;
}

.textarea-primary {
  width: 100%;
  border: 1px solid #d5d5d5;
  border-radius: 6px;
  padding: 21px;
  height: 184px;
}

.btn-next {
  position: relative;
  background-color: #009fe3;
  border-radius: 6px;
  width: 140px;
  height: 43px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
}
.btn-next > img {
  margin-top: 2px;
}

.btn-commercial {
  height: 60px;
  background-color: #009fe3;
  font-size: 15px;
  border-radius: 6px;
  color: #ffffff;
  font-family: Roboto-Regular, sans-serif;
  font-weight: 300;
}

.icon-circle {
  border: 2px solid #009fe3;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  margin-right: 11px;
  font-size: 15px;
}

.header {
  height: 126px;
}
.header__wrap {
  align-items: center;
}

.header-content__wrap {
  display: flex;
  margin-bottom: 15px;
}
.header-content__logo {
  content: "";
  position: relative;
  background-repeat: no-repeat;
  background-size: 191px 58px;
  width: 191px;
  height: 58px;
  background-image: url("assets/images/logo.svg");
  margin-right: 20px;
}
.header-content__text {
  color: #009fe3;
  position: relative;
  margin-left: 20px;
  margin-top: 10px;
  line-height: 22px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.header-content__text::before {
  content: "";
  position: absolute;
  left: -26px;
  top: 5px;
  border-left: 1px solid #009fe3;
  height: 31px;
}
.header-content__links ul {
  display: flex;
  gap: 30px;
  margin-left: 4px;
}
.header-content__links ul li {
  cursor: pointer;
}
.header-content__services {
  position: relative;
  margin-right: 1em;
}
.header-content__services::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-size: 10px 6px;
  width: 10px;
  height: 6px;
  background-image: url("assets/images/figures/down-grey.svg");
  bottom: 3px;
  right: -14px;
}

.header-contacts__number {
  font-size: 19px;
  font-weight: bold;
  margin: 12px 0 25px;
}
.header-contacts__city span {
  color: #009fe3;
  position: relative;
}
.header-contacts__city span::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-size: 10px 6px;
  width: 10px;
  height: 6px;
  background-image: url("assets/images/figures/down-blue.svg");
  bottom: 3px;
  right: -14px;
}

.hero {
  height: 832px;
  background: linear-gradient(105.08deg, #e1e9ef 22.02%, #c8d4df 93.22%);
  position: relative;
}
.hero__girl {
  position: absolute;
  height: 732px;
  bottom: 0;
  left: 18%;
  z-index: 20;
}
.hero__wrap {
  align-items: center;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 500px;
}
.hero-content__title {
  font-size: 23px;
  line-height: 35px;
}
.hero-content__title span {
  font-size: 30px;
  line-height: 43px;
  font-weight: bold;
}
.hero-content__list {
  display: flex;
  flex-direction: column;
  gap: 33px;
}
.hero-content__list li {
  line-height: 17px;
  margin-left: 60px;
  position: relative;
}
.hero-content__check::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-size: 45px 39px;
  width: 45px;
  height: 39px;
  background-image: url("assets/images/check.svg");
  left: -60px;
}
.hero-content__document::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-size: 36px 42px;
  width: 36px;
  height: 42px;
  background-image: url("assets/images/document.svg");
  top: -10px;
  left: -55px;
}
.hero-content__calendar::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-size: 45px 39px;
  width: 45px;
  height: 39px;
  background-image: url("assets/images/calendar.svg");
  top: -7px;
  left: -58px;
}

.hero-dialog {
  content: "";
  position: relative;
  background-repeat: no-repeat;
  background-size: 370px 464px;
  width: 370px;
  height: 464px;
  background-image: url("assets/images/shield.svg");
  padding: 0 25px;
}
.hero-dialog__title {
  font-size: 15px;
  margin-bottom: 35px;
  line-height: 20px;
}
.hero-dialog__form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.hero-dialog__bottom {
  text-align: center;
  font-size: 12px;
  margin-top: 29px;
  line-height: 15px;
}

.quiz {
  height: 950px;
  background-color: #F8F8F8;
}
.quiz__wrap > div {
  width: 100%;
}
.quiz__title {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}
.quiz__desc {
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  margin-bottom: 60px;
}

.quiz-form {
  display: flex;
  position: relative;
  height: 480px;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  border: 1px solid #E3E3E3;
  background-color: #ffffff;
}
.quiz-form__image {
  width: 270px;
}

.quiz-body {
  display: flex;
  flex-direction: column;
  gap: 36px;
  width: 100%;
  padding: 30px 45px;
}
.quiz-body__steps {
  border-bottom: 1px solid #d5d5d5;
  padding-bottom: 11px;
}
.quiz-body__steps ul {
  color: #d5d5d5;
}
.quiz-body__question-title {
  font-size: 20px;
  font-weight: bold;
}
.quiz-body__content {
  height: 100%;
}
.quiz-body__checks {
  column-count: 2;
}
.quiz-body__checks li {
  margin-bottom: 6px;
}

.quiz-feedback {
  position: absolute;
  background-color: #ffffff;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}
.quiz-feedback__form {
  display: flex;
  flex-direction: column;
  gap: 6px;
  max-width: 330px;
  margin: auto;
}

.services-block {
  display: inline-block;
  background-color: #ffffff;
  position: absolute;
  z-index: 20;
}

/*# sourceMappingURL=style.css.map */
