@font-face {
  font-family: GothamPro;
  src: url("assets/fonts/GothamPro.ttf");
}
.quiz, .hero {
  display: grid;
  place-items: center;
}

.quiz-content, .hero-dialog__form {
  display: flex;
  flex-direction: column;
}

.quiz-content__steps ul, .hero__wrap, .header, .elements-between {
  display: flex;
  justify-content: space-between;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

textarea {
  resize: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

::placeholder {
  color: #000000;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #000000;
}

::-ms-input-placeholder {
  color: #000000;
}

body {
  font-family: GothamPro, sans-serif;
  font-size: 14px;
}

.element-right {
  align-self: end;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feedback-text-bottom span {
  color: #009fe3;
  text-decoration-line: underline;
  cursor: pointer;
}

.check {
  padding-left: 1.2em;
  cursor: pointer;
}
.check__primary {
  position: absolute;
  width: 1em;
  height: 1em;
  margin-left: -1.2em;
  background-color: #ffffff;
}
.check__box {
  box-shadow: 0 0 0 0.1em #000000;
  border-radius: 0.05em;
}
.check__radio {
  border: 1px solid #000000;
  border-radius: 50%;
}
.check__input:checked + .check__radio {
  border: 6px solid #009fe3;
}

.btn-next {
  position: relative;
  background-color: #009fe3;
  border-radius: 6px;
  width: 140px;
  height: 43px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
}
.btn-next > img {
  margin-top: 2px;
}

.header-content__wrap {
  display: flex;
}
.header-content__logo {
  background-image: url("assets/images/logo.svg");
  width: 150px;
  height: 50px;
  background-size: 150px 50px;
  background-repeat: no-repeat;
}
.header-content__text {
  color: #009fe3;
  position: relative;
}
.header-content__text::before {
  content: "";
  position: absolute;
  border-left: 2px solid #009fe3;
  height: 20px;
}
.header-content__links ul {
  display: flex;
}
.header-content__services {
  position: relative;
  margin-right: 1em;
  cursor: pointer;
}
.header-content__services::after {
  content: "";
  position: absolute;
  bottom: 0;
  background-image: url("assets/images/figures/down-grey.svg");
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
}

.header-contacts__city span {
  color: #009fe3;
  position: relative;
}
.header-contacts__city span::after {
  content: "";
  position: absolute;
  bottom: 0;
  background-image: url("assets/images/figures/down-blue.svg");
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
}

.hero {
  position: relative;
  height: 870px;
  background: linear-gradient(105.08deg, #e1e9ef 22.02%, #c8d4df 93.22%);
}
.hero__girl {
  position: absolute;
  height: 90%;
  bottom: 0;
}
.hero__wrap {
  width: 900px;
}

.hero-content {
  width: 300px;
}

.hero-dialog {
  width: 400px;
  background-color: #ffffff;
  background-size: 400px 250px;
  background-repeat: no-repeat;
  z-index: 10;
}
.quiz {
  height: 870px;
  background-color: #c4c4c4;
}
.quiz-form {
  display: flex;
  width: 750px;
  height: 300px;
}
.quiz-form__image {
  width: 150px;
}

.quiz-content {
  width: 100%;
  background-color: #ffffff;
  gap: 15px;
}
.quiz-content__questions > span {
  border: 1px solid #009fe3;
  border-radius: 50%;
  padding: 10px 15px;
}
.quiz-content__text {
  height: 170px;
  border: 1px solid #000000;
}

/*# sourceMappingURL=style.css.map */
