.services-block {
  padding-left: 20px;

  nav {
    @include flex-col(17px);
  }

  nav a {
    color: $md-grey;
  }

  &_header {
    position: absolute;
    top: 81%;
    left: 15%;
    z-index: 30;
    background-color: $white;
    padding: 35px 20px 20px;
  }
}
