.services-block {
  padding-left: 40px;

  nav {
    @include flex-col(17px);
  }

  nav a {
    color: $md-grey;
  }

  &_header {
    position: absolute;
    top: 0;
    left: 15%;
    z-index: 30;
    background-color: $white;
    padding: 15px 25px 20px;
  }
}
