.quiz-content {
  @include flex-col(36px);
  width: 100%;
  padding: 30px 45px 0;

  &__steps {
    border-bottom: 1px solid $light;
    padding-bottom: 11px;
  }

  &__steps ul {
    @extend %flex-between;
    color: $light;
  }

  &__questions {
    @extend %flex-items-center;
    font-size: 20px;
    font-weight: bold;
  }

  &__text {
    height: 170px;
    border: 1px solid $black;
  }
}
