.quiz-content {
  width: 100%;
  background-color: $white;
  border-radius: 4px;
  @extend %flex-col;
  gap: 36px;
  padding: 30px 45px 0;

  &__steps {
    border-bottom: 1px solid $light;
    padding-bottom: 11px;
  }

  &__steps ul {
    @extend %flex-between;
    color: $light;
  }

  &__questions {
    @extend %flex-items-center;
    font-size: 20px;
    font-weight: bold;

    > span {
      border: 2px solid $primary;
      border-radius: 50%;
      width: 44px;
      height: 44px;
      margin-right: 11px;
      @extend %grid-place-center;
      font-size: 15px;
      font-weight: normal;
    }
  }

  &__text {
    height: 170px;
    border: 1px solid $black;
  }
}
