.hero {
  height: 832px;
  background: $background;
  position: relative;

  &__girl {
    position: absolute;
    height: 732px;
    bottom: 0;
    left: 18%;
  }

  &__wrap {
    @extend %flex-between;
    align-items: center;
    @extend %container;
  }
}
