.hero {
  height: 832px;
  background: $hero-bg;
  position: relative;

  &__girl {
    position: absolute;
    height: 732px;
    bottom: 0;
    left: 16%;
    z-index: 20;
  }

  &__wrap {
    @extend %container;
    @extend %flex-between;
    align-items: center;
  }
}
