.services-block {
  //background-color: $white;
  position: absolute;
  z-index: 0;
  padding-left: 40px;

  ul {
    @include flex-col(23px);
    margin-top: 67px;
  }

  ul li {
    color: $md-grey;
    cursor: pointer;
  }
}
