.services-block {
  background-color: $white;
  position: absolute;
  z-index: 30;
  padding: 24px 40px;

  ul {
    @include flex-col(23px);
  }

  ul li {
    color: $md-grey;
    cursor: pointer;
  }
}
