.quiz-body {
  @include flex-col(35px);
  position: relative;
  width: 100%;
  padding: 30px 45px 0;

  &__steps {
    border-bottom: 1px solid $light;
    padding-bottom: 11px;
    font-size: 13px;
  }

  &__steps ul {
    @extend %flex-between;
    color: $light;
  }

  &__questions {
    @extend %flex-items-center;
  }

  &__question-title {
    font-size: 19px;
    line-height: 27px;
    font-weight: bold;
  }

  &__content {
    @extend %grid-place-center;
    height: 184px;
  }

  &__btns {
    display: grid;
    grid-template-columns: 1fr 0;
    position: absolute;
    right: 45px;
    bottom: 60px;
    left: 45px;
  }

  &__checks {
    column-count: 2;
    margin-left: 30px;
    height: 100%;
  }

  &__checks li {
    margin-bottom: 14px;
    font-size: 13px;
  }
}

.active-step {
  color: $black;
  font-weight: bold;
}
