.quiz-body {
  @include flex-col(36px);
  width: 100%;
  padding: 30px 45px;

  &__steps {
    border-bottom: 1px solid $light;
    padding-bottom: 11px;
  }

  &__steps ul {
    @extend %flex-between;
    color: $light;
  }

  &__questions {
    @extend %flex-items-center;
  }

  &__question-title {
    font-size: 20px;
    font-weight: bold;
  }

  &__content {
    height: 100%;
  }

  &__checks {
    column-count: 2;
  }

  &__checks li {
    margin-bottom: 6px;
  }
}
