.quiz-feedback {
  @extend %grid-place-center;
  position: absolute;
  background-color: $white;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;

  &__wrap {
  }

  &__title {
  }

  &__form {
    @include flex-col(6px);
    max-width: 330px;
    margin: auto;
  }
}
