.quiz-feedback {
  @extend %grid-place-center;
  position: absolute;
  background-color: $white;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  border-radius: 4px;

  &__wrap {
  }

  &__title {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 54px;
    font-weight: bold;
    text-align: center;
  }

  &__form {
    @include flex-col(22px);
    max-width: 366px;
    margin: auto;
  }

  &__bottom {
    margin-top: 26px;
    text-align: center;
    font-size: 12px;
    line-height: 15px;
  }
}
