.hero-dialog {
  width: 370px;
  height: 464px;
  background-image: url("assets/images/shield.svg");
  background-size: 370px 464px;
  background-repeat: no-repeat;
  padding: 0 25px;
  @extend %grid-place-center;

  &__title {
    font-size: 15px;
    margin-bottom: 35px;
    line-height: 20px;
  }

  &__form {
    @extend %flex-col;
    gap: 12px;
  }

  &__bottom {
    text-align: center;
    font-size: 12px;
    margin-top: 29px;
    line-height: 15px;
  }
}
