.hero-dialog {
  @extend %grid-place-center;
  @include icon-mixin(370px, 464px, url("assets/images/shield.svg"), relative);
  padding: 0 25px;

  &__title {
    font-size: 15px;
    margin-bottom: 35px;
    line-height: 20px;
  }

  &__form {
    @include flex-col(12px);
  }
}
