.btn-primary {
  position: relative;
  border-radius: 6px;
  font-size: 14px;
  height: 43px;
}

.btn-prev {
  background-color: transparent;
  padding-left: 40px;
  justify-self: start;

  &::before {
    @include icon-mixin(24px, 7px, url("assets/images/figures/left-blue.png"));
    top: 19px;
    left: 2px;
  }
}

.btn-next {
  background-color: $primary;
  padding: 0 70px 0 28px;
  color: $white;
  justify-self: end;

  &::after {
    @include icon-mixin(
      28px,
      10px,
      url("assets/images/figures/right-white.svg")
    );
    top: 18px;
    right: 33px;
  }
}

.btn-commercial {
  height: 57px;
  background-color: $primary;
  font-size: 14px;
  border-radius: 6px;
  color: $white;
  font-family: $button-font;
  font-weight: 300;
}

.btn-cancel {
  @include icon-mixin(13px, 13px, url("assets/images/cancel.svg"));
  cursor: pointer;
  display: none;
}

.btn-dialog-cancel {
  top: 18px;
  right: 18px;
}

.btn-header-cancel {
  top: 21px;
  right: 0;
}