.btn-prev {
  position: relative;
  background-color: transparent;
  border-radius: 6px;
  height: 43px;
  font-size: 14px;
  justify-self: start;
  //@extend %grid-place-center;

  div {
    position: absolute;
    left: 35px;
  }

  div::before {
    @include icon-mixin(24px, 7px, url("assets/images/figures/left-blue.png"));
    top: 5px;
    right: 52px;
  }
}

.btn-next {
  position: relative;
  background-color: $primary;
  border-radius: 6px;
  width: 140px;
  height: 43px;
  color: $white;
  font-size: 14px;
  justify-self: end;
  //@extend %grid-place-center;

  div {
    position: absolute;
    left: 27px;
  }

  div::after {
    @include icon-mixin(28px, 10px, url("assets/images/figures/right-white.svg"));
    top: 4px;
    left: 52px;
  }
}

.btn-commercial {
  height: 60px;
  background-color: $primary;
  font-size: 15px;
  border-radius: 6px;
  color: $white;
  font-family: Roboto-Regular, sans-serif;
  font-weight: 300;
}