.check {
  padding-left: 1.2em;
  cursor: pointer;

  &__primary {
    position: absolute;
    width: 1em;
    height: 1em;
    margin-left: -1.2em;
    background-color: $white;
  }

  &__box {
    box-shadow: 0 0 0 0.1em $light;
    border-radius: 0.05em;
  }

  &__radio {
    border: 1px solid $light;
    border-radius: 50%;
    width: 24px;
    height: 24px;
  }

  &__input:checked + &__radio {
    border: 10px solid $primary;
  }
}

.input-primary {
  height: 60px;
  border: 1px solid $light;
  border-radius: 6px;
  padding: 0 21px;
}

.textarea-primary {
  width: 100%;
  border: 1px solid $light;
  border-radius: 6px;
  padding: 21px;
  height: 184px;
}
