.header-content {
  &__wrap {
    display: flex;
    margin-bottom: 15px;
  }

  &__logo {
    @include icon-mixin(191px, 58px, url("assets/images/logo.svg"), relative);
    margin-right: 20px;
  }

  &__text {
    @extend %flex-items-center;
    color: $primary;
    position: relative;
    margin-left: 20px;
    margin-top: 10px;
    line-height: 22px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  &__text::before {
    content: "";
    position: absolute;
    left: -26px;
    top: 5px;
    border-left: 1px solid $primary;
    height: 31px;
  }

  &__links ul {
    display: flex;
    gap: 30px;
    margin-left: 4px;
  }

  &__links ul li {
    cursor: pointer;
  }

  &__services-btn {
    position: relative;
    margin-right: 1em;
  }

  &__services-btn::after {
    @include icon-mixin(10px, 6px, url("assets/images/figures/down-grey.svg"));
    bottom: 3px;
    right: -14px;
  }
}
