.hero-content {
  @include flex-col(40px);
  max-width: 500px;

  &__title {
    font-size: 23px;
    line-height: 35px;
  }

  &__title span {
    font-size: 30px;
    line-height: 43px;
    font-weight: bold;
  }

  &__list {
    @include flex-col(33px);
  }

  &__list li {
    line-height: 17px;
    margin-left: 60px;
    position: relative;
  }

  &__check::before {
    @include icon-mixin(43px, 37px, url("assets/images/check.svg"));
    top: 5px;
    left: -60px;
  }

  &__document::before {
    @include icon-mixin(36px, 42px, url("assets/images/document.svg"));
    top: -10px;
    left: -55px;
  }

  &__calendar::before {
    @include icon-mixin(40px, 43px, url("assets/images/calendar.svg"));
    top: -7px;
    left: -58px;
  }

  &__bottom {
    color: $primary;
    text-decoration-line: underline;
    cursor: pointer;
  }
}
