@import "UI";
@import "header";
@import "header-content";
@import "header-contacts";
@import "header-info";
@import "hero";
@import "hero-content";
@import "hero-dialog";
@import "quiz";
@import "quiz-form";
@import "quiz-body";
@import "quiz-feedback";
@import "services";
