.quiz-form {
  display: flex;
  position: relative;
  height: 480px;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  border: 1px solid $grey;
  background-color: $white;
  overflow: hidden;

  &__image-wrap {
    width: 270px;
    overflow: hidden;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
