.quiz-form {
  display: flex;
  height: 480px;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  border: 1px solid $grey;
  background-color: $white;

  &__image {
    width: 270px;
  }
}
