@include laptop() {
  .header-contacts {
    font-size: 11px;

    &__number {
      font-size: 12px;
      font-weight: bold;
      margin: 22px 0 25px;
    }
  }
}

@include tablet() {
  .header-contacts {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 4px;

    &__number {
      margin: 10px 0;
    }
  }
}

@include mobile() {
  .header-contacts {
    &__email {
      display: none;
    }

    &__number {
      position: absolute;
      right: 45px;
      font-size: 14px;
    }

    &__city {
      display: none
    }
  }
}