.header-contacts {
  &__number {
    font-size: 19px;
    font-weight: bold;
    margin: 12px 0 25px;
  }

  &__city span {
    color: $primary;
    position: relative;
  }

  &__city span::after {
    background-image: url("assets/images/figures/down-blue.svg");
    @extend %icon-margin;
  }
}
