.header-contacts {
  &__number {
    font-size: 19px;
    font-weight: bold;
    margin: 12px 0 25px;
  }

  &__city span {
    color: $primary;
    position: relative;
  }

  &__city span::after {
    @include icon-mixin(10px, 6px, url("assets/images/figures/down-blue.svg"));
    bottom: 3px;
    right: -14px;
    //background-image: url("assets/images/figures/down-blue.svg");
  }
}
