body {
  font-family: GothamPro, sans-serif;
  font-size: 14px;
}

.elements-between {
  @extend %flex-between;
}

.element-right {
  align-self: end;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feedback-text-bottom span {
  color: $primary;
  text-decoration-line: underline;
  cursor: pointer;
}
