body {
  font-family: $default-font;
  font-size: 14px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden {
  display: none;
}

.text-bottom {
  text-align: center;
  font-size: 12px;
  margin-top: 29px;
  line-height: 15px;

  span {
    color: $primary;
    text-decoration-line: underline;
    cursor: pointer;
  }
}

.open {
  transform: translateX(0);
}

.hide-scroll {
  overflow-y: hidden;
}
