%container {
  max-width: 1195px;
  height: 100%;
  margin: auto;
  padding: 0 25px;
  position: relative;
}

%grid-place-center {
  display: grid;
  place-items: center;
}

%flex-center {
  display: flex;
  justify-content: center;
}

%flex-items-center {
  display: flex;
  align-items: center;
}

%flex-between {
  display: flex;
  justify-content: space-between;
}
