.header-mobile {
  transform: translateX(-100%);
  position: absolute;
  top: 0;
  right: 0;
  bottom: -100%;
  left: 0;
  background-color: $white;
  z-index: 30;
  padding: 20px 24px 0;

  &__services-btn {
    position: relative;
    cursor: pointer;

    .services-open {
      left: 53px;
    }

    .services-close {
      left: 53px;
    }
  }

  &__contacts {
    @include flex-col(17px);
    margin: 28px 0;
  }

  &__email {
    cursor: pointer;
  }

  &__links {
    @include flex-col(17px);
    margin-top: 40px;
    padding-bottom: 25px;
  }

  &__links nav {
    @include flex-col(17px);
  }
}
